<header>
  <div>
    <img src=".\images\tuparking-logotype.svg" alt="logotype">
    <p>by Gaspar Carballada</p>
  </div>
  <div>
    <button [routerLink]="['/login']"> Sign in</button>
    <button [routerLink]="['/signup']"> Sign Up</button>
  </div>  
</header>
<main>
  <h2>Manage your parking the <b>SIMPLEST</b>, <b>BETTER</b> and <b>CHEAPER</b> way.</h2>
  <div class="allfeatures-container">
    <div class="feature-container">
      <div>
        <img src=".\images\feature-preview3.png" alt="">
      </div>
      <div>
        <h3>Prices</h3>
        <p>Here you can Modify your fee Prices of half an hour, an hour and of day worth of parking.</p>
      </div>
    </div>
    <div class="feature-container">
      <div>
        <img src=".\images\feature-preview1.png" alt="">
      </div>
      <div>
        <h3>Parking State</h3>
        <p>Here you can Add/Remove or Enable/Disable parking spots,
          handle the entry and exit of the cars and charge them your fee.</p>
      </div>
    </div>
    <div class="feature-container">
      <div>
        <img src=".\images\feature-preview2.png" alt="">
      </div>
      <div>
        <h3>Reports</h3>
        <p>Here you can see daily, monthly and annualy Reports of your parking lot incomes.</p>
      </div>
    </div>
  </div>
</main>

