main{
  height: 80vh;
  padding-top: 120px;
}

.prices-container {
  background-color: #f4fbff; /* Light blue background */
  padding: 20px;
  border-radius: 8px;
  width: 550px;
  height: 350px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #333;
}

/* Header */
.prices-container h2 {
  color: #0077a3; /* Darker blue */
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 2rem;
}

/* Fee container */
.fee-conatiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #e8f3f7; /* Light blue for individual fees */
  border: 1px solid #a3d0e5; /* Border for separation */
  border-radius: 6px;
  margin-bottom: 10px;
}

/* Fee description */
.fee-conatiner p {
  font-size: 1.25rem;
  color: #555;
}

/* Price and edit button container */
.fee-conatiner div {
  display: flex;
  align-items: center;
}

/* Price styling */
.fee-conatiner div p {
  font-size: 1.25rem;
  font-weight: bold;
  color: #0077a3; /* Darker blue for price */
  margin-right: 10px;
}

/* Edit button */
.fee-conatiner button {
  background-color: #53a9ff; /* Soft blue for button */
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.fee-conatiner button:hover {
  background-color: #b3e0f2; /* Darker blue on hover */
}

/* Edit icon */
.fee-conatiner button img {
  width: 20px;
  height: 20px;
}