.container-notfound{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, #0a192f, #020c1b 70%);
}

.container-logo{
  display: flex;
  width: 50%;
  align-self: center;
  justify-content: center;
}

.p-notfound{
  color: #f1f1f1;
  font-size: 3rem;
  font-weight: 500;
}

.a-notfound:visited{
  margin-top: 10px;
  color: #27497c;
}