<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
<div class="page-parking-state">
    <main>
      @if (this.parkingServices.spots.length !== 0){
          <table class="styled-table">
            <thead>
              <tr>
                <th>{{tableHeader.c1}}</th>
                <th>{{tableHeader.c2}}</th>
                <th>{{tableHeader.c3}}</th>
                <th>{{tableHeader.c4}}</th>
              </tr>
            </thead>
            <tbody>
              @for (spot of this.parkingServices.spots; track spot.id) {
                <tr>
                  <td><div class="centered-td">{{spot.descripcion}}</div></td>
                  <td><div class="centered-td"><div [ngClass]="{'available': !spot.deshabilitada, 'occupied': spot.deshabilitada}">{{!spot.deshabilitada ? 'Available' : 'Occupied'}}</div></div></td>
                  <td><div class="centered-td">12:00</div></td>
                  <td><div class="centered-td">
                    @if (spot.deshabilitada == 0)
                    {
                      <button class="actions-btn" (click)="setSpotOccupy(spot.id)">Occupy</button>
                    } @else {
                      <button class="actions-btn" (click)="setSpotFree(spot.id)">Release</button>
                    }
                    @if(this.parkingServices.authService.usuario?.isAdmin)
                    {
                      <button class="btn-deleteThat" (click)="deleteThatSpot(spot.id)"><span class="material-symbols-outlined">
                        delete
                        </span></button>
                    }
                  </div>
                  </td>
                </tr>
              }
            </tbody>
          </table>
      @if(this.parkingServices.authService.usuario?.isAdmin)
      {
        <div class="btn-container">
          <button class="btn-admin" (click)="addNewSpot()">Add New</button>
        </div>
      }
      } @else {
        <table class="styled-table">
          <thead>
            <tr>
              <th>{{tableHeader.c1}}</th>
              <th>{{tableHeader.c2}}</th>
              <th>{{tableHeader.c3}}</th>
              <th>{{tableHeader.c4}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="nothing-row" colspan="4"> <p>No Current Parking Spots </p></td>
            </tr>
          </tbody>
        </table>
        @if(this.parkingServices.authService.usuario?.isAdmin)
        {
          <button class="btn-admin" (click)="addNewSpot()" >Add New</button>
        }
      }
  </main>
  </div>