<div class="page-parking-state">
    <header>
      <img style="width: 60px;" src="./images/tuparking-logo.svg" alt="tuparking logo">
      <h2 class="h2-app">{{ title }}</h2>
      <!-- <nav>
        <a class="page-name">PARKING STATE</a>
        <a><img class="profile-pic" src=".\images\profile-icon.png" alt="Profile Picture"></a>
      </nav> -->
      
    </header>
    <main>
      
      @if (parking.length !== 0){
        <div class="table-container">
          <table class="styled-table">
            <thead>
              <tr>
                <th>{{tableHeader.c1}}</th>
                <th>{{tableHeader.c2}}</th>
                <th>{{tableHeader.c3}}</th>
                <th>{{tableHeader.c4}}</th>
              </tr>
            </thead>
            <tbody>
              @for (spot of parking; track $index) {
                <tr>
                  <td><div class="centered-td">{{spot.number}}</div></td>
                  <td><div class="centered-td"><div [ngClass]="{'available': spot.available, 'occupied': !spot.available}">{{spot.available ? 'Available' : 'Occupied'}}</div></div></td>
                  <td><div class="centered-td">{{spot.entry}}</div></td>
                  <td><div class="centered-td">
                    @if (spot.available)
                    {
                      <button class="actions-btn" (click)="occupyParkingState($index)">Occupy</button>
                    } @else {
                      <button class="actions-btn" (click)="setFreeParkingState($index)">Release</button>
                    }
                    <button class="btn-deleteThat" (click)="deleteThatSpot($index)"><img src=".\images\trash-can-ico.svg" alt=""></button>
                  </div>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        
      <div class="btn-container">
        <button class="btn-admin" (click)="addNew()">Add New</button>
        <button class="btn-admin" (click)="deleteAll()">Delete All</button>
      </div>
      } @else {
        <table class="styled-table">
          <thead>
            <tr>
              <th>{{tableHeader.c1}}</th>
              <th>{{tableHeader.c2}}</th>
              <th>{{tableHeader.c3}}</th>
              <th>{{tableHeader.c4}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="nothing-row" colspan="4"> <p>No Current Parking Spots </p></td>
            </tr>
          </tbody>
        </table>
        <button class="btn-admin" (click)="addNew()">Add New</button>
      }
  </main>

  </div>