<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <main>
      @if (this.parkingServices.spots.length !== 0){
        <div class="parking-container">
          @for (spot of parkingServices.spots; track spot.id){
            <div class="parking-card">
              <div class="spot-header">
                <h2>{{spot.descripcion}}</h2>
                @if(this.parkingServices.authService.usuario?.isAdmin)
                {
                <div class="options-container">
                  <button (click)="toggleTooltip(spot.id)" style="background: none;"><img src="./images/options.svg" alt=""></button>
                  <div class="tooltip" [ngClass]="{'isTooltipVisible': visibleTooltipIndex === spot.id}">
                    <button >
                        <div>
                          @if (spot.deshabilitada == 0 && !spot.estacionamiento)
                          {
                            <button (click)="disableSpot(spot.id)"><img src="./images/disabled.svg" alt="Enable"></button>
                          } @else if(spot.deshabilitada) {
                            <button (click)="enableSpot(spot.id)"><img src="./images/available.svg" alt="Enable"></button>
                          }
                        </div>
                        <button ><button (click)="deleteThatSpot(spot.id)"><span class="material-symbols-outlined">
                          delete
                          </span></button></button>
                        </button>
                      </div>
                    </div>  
                  }
              </div>
              <div style="display: flex;flex-direction: column;justify-content: space-between; height: 100%; align-items: center;">
                <div [ngClass]="{'patente': !spot.deshabilitada && (spot.estacionamiento?.horaIngreso && !spot.estacionamiento?.horaEgreso)}">
                  @if (spot.deshabilitada) {
                    <img style="width: 122px; height: 122px;" src=".\images\disabled.svg" alt="disabled">
                  } @else if (!spot.deshabilitada && (!spot.estacionamiento?.horaEgreso && spot.estacionamiento?.horaIngreso)){
                    <span>ARGENTINA</span>
                    <div class="plate-number">{{spot.estacionamiento?.patente}}</div>
                  } @else {
                    <img style="width: 122px; height: 122px;" src="./images/available.svg" alt="Enable">
                  }
                </div>
                @if (!spot.deshabilitada){
                    @if (spot.estacionamiento?.horaIngreso !== null && spot.estacionamiento?.horaEgreso == null){
                      <button class="actions-car" (click)="closeParking(spot.estacionamiento?.patente!, spot.estacionamiento?.idUsuarioIngreso!)">
                          <span>EXIT</span>
                          <img src="./images/arrow-exit.svg" alt="exit car">
                      </button>
                    } @else{
                      <button (click)="openParking(spot.id)" class="actions-car">
                        <img src="./images/arrow-entry.svg" alt="exit car">
                        <span>ENTRY</span>
                      </button>
                    }
                  }  
              </div>
            </div>
          }
        @if(this.parkingServices.authService.usuario?.isAdmin)
        {
          <div class="parking-card">
            <button style="margin-top: 100px; background: none;" (click)="addNewSpot()" ><img style="width: 122px; height: 122px;" src="./images/add.svg" alt=""></button>
          </div>   
        }
        </div>
      } @else {
        <div class="parking-container">
          @if(this.parkingServices.authService.usuario?.isAdmin)
        {
          <div class="parking-card">
            <button style="margin-top: 100px; background: none;" (click)="addNewSpot()" ><img style="width: 122px; height: 122px;" src="./images/add.svg" alt=""></button>
          </div>  
        }
        </div>
      }
  </main>