<div class="page-signup">
  <div class="container-signup">
    <div class="signup-header">
      <h2 class="h2-signup">Sign Up</h2>
      <div class="logo-app-name">
        <img class="logo" src=".\images\tuparking-logo.svg" alt="logo">
        <p class="p-app-name">TUParking Management</p>
      </div>
    </div>
    <form #signUpForm="ngForm" class="form-signup" (ngSubmit)="signUp(signUpForm)">
      <div class="input-field">
        <label class="label-signup">Username</label>
        <input class="input-signup"  type="text" placeholder="username2000"name="username" ngModel required>
      </div>
      <div class="input-field">
        <label class="label-signup">Name</label>
        <input class="input-signup" type="text" placeholder="Tim"name="nombre" ngModel required>
      </div>
      <div class="input-field">
        <label class="label-signup">Lastname</label>
        <input class="input-signup" type="text" placeholder="Cook"name="apellido" ngModel required>
      </div>
      <div class="input-field">
        <div class="password-show-hide">
            <label class="label-signup">Password</label><button tabindex="-1" class="btn-show-hide" type="button" (click)="showPassword()">@if (shownPassword){<img  src="./images/eye-open.svg" alt="">}@else {<img  src="./images/eye-closed.svg" alt="">}</button>
        </div>
        <input id="input-password" name="password" class="input-signup" type="password" placeholder="********" ngModel required>
      </div>
      <!-- <div class="input-field">
        <label class="label-signup">Confirm Password</label>
        <input class="input-signup" type="password" placeholder="********" name="confirmPassword" ngModel>
      </div> -->
        <button [disabled]="signUpForm.invalid" class="btn-signup" type="submit">Sign Up</button>
    </form>
    <div class="container-login">
      <p class="p-login">Already have an account?</p>
      <a class="a-login" [routerLink]="['/login']">Log In</a>
    </div>
  </div>
</div>