<div class="page-signin">
  <div class="container-signin">
    <div class="login-header">
      <h2 class="h2-signin">Log In</h2>
      <div class="logo-app-name">
        <img class="logo" src=".\images\tuparking-logo.svg" alt="logo">
        <p class="p-app-name">TUParking Management</p>
      </div>
    </div>
    <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="input-field">
        <label class="label-signin">Username</label>
        <input required id='input-username' name="username" class="input-signin" type="text" placeholder="employee1234" ngModel required>
      </div>
      <div class="input-field">
        <div class="password-show-hide">
            <label class="label-signin">Password</label><button tabindex="-1" class="btn-show-hide" type="button" (click)="showPassword()">@if (shownPassword){<img  src="./images/eye-open.svg" alt="">}@else {<img  src="./images/eye-closed.svg" alt="">}</button>
        </div>
        <input id="input-password" name="password" class="input-signin" type="password" placeholder="********" ngModel required>
      </div>
        <button [disabled]="loginForm.invalid" class="btn-signin" type="submit">Log In</button>
    </form>
    <div class="container-signup">
      <p class="p-signup">Dont't have an account?</p>
      <a class="a-signup" [routerLink]="['/signup']">Sign Up</a>
    </div>
  </div>
</div>