<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
<header>
  <img src=".\images\tuparking-logotype.svg" alt="logo">
  <nav>
    <a [routerLink]="['/app/parking-state']" routerLinkActive="my-link" >Parking State</a>
    @if (this.parkingServices.authService.usuario?.isAdmin)
    {
      <a [routerLink]="['/app/reports']" routerLinkActive="my-link" >Reports</a>
      <a [routerLink]="['/app/prices']" routerLinkActive="my-link" >Prices</a>
    }
    <a [routerLink]="['/login']" routerLinkActive="my-link" ><span class="material-symbols-outlined">
      account_box
      </span></a>
  </nav>
</header>
<router-outlet />
