
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  img{
    width: 300px;
  }
  margin-bottom: 20px;
}

.button-icon{
  background: none; 
  color: #f1f1f1;
}
  

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

header a{
  color: #f1f1f1;
  font-size: 1.35rem;
  font-weight: 600;
}

.my-link:visited{
  color: rgb(90, 186, 210);
  cursor: pointer;
}

.material-symbols-outlined{
  font-size: 26px;
}
